<div class="wrapper">
    <div class="sidebar bg-dark" [style]="sideStyle()">
        <button class="btn" (click)="expand()"><fa-icon [icon]="faBars" style="color: #b6c6ed;"></fa-icon></button>
        <div class="linkContainer">
            <a class="navItem"  routerLink="/home/dashboard" routerLinkActive="active" (click)="closeAfterNav()">
                <fa-icon [icon]="faGlobe" class="navIcon"></fa-icon>
                <p class="navText " [style]="navTextStyle()">
                    Dashboard
                </p>
            </a>
            <a class="navItem"  style="margin-top: 12%;" routerLink="/home/archive" routerLinkActive="active" (click)="closeAfterNav()">
                <fa-icon [icon]="faArchive" class="navIcon"></fa-icon>
                <p class="navText " [style]="navTextStyle()">
                    Archive
                </p>
            </a>
            <a class="navItem"  style="margin-top: 12%;" routerLink="/home/employes" routerLinkActive="active" (click)="closeAfterNav()">
                <fa-icon [icon]="faUsers" class="navIcon"></fa-icon>
                <p class="navText " [style]="navTextStyle()">
                    Employés
                </p>
            </a>
            <a class="navItem"  style="margin-top: 12%;" routerLink="/home/agences" routerLinkActive="active" (click)="closeAfterNav()">
                <fa-icon [icon]="faBuildingUser" class="navIcon"></fa-icon>
                <p class="navText " [style]="navTextStyle()">
                    Agences
                </p>
            </a>
            
        </div>
    </div>
    <div class="main bg-light" [style]="mainStyle()">
        <div class="topbar">
            <div class="d-flex justify-content-left align-items-center" style="width: 100%">
                <img style="width: 70px; height: 100%; margin-left: 2%;" src="../../../../assets/posteLogoafter.png"/>
                <h5>Itinéraire de Données Employés</h5>
            </div>
            <div>
                <!--
                <button class="btn rounded btn-success" type="button" (click)="loginAdmin()"> Login Admin Notif</button>
                <button class="btn rounded btn-danger" type="button" (click)="loginEmp()"> Login Employee Notif</button>
                <button class="btn rounded btn-success" type="button" (click)="callAdminSocket()"> Send Admin Notif</button>
                <button class="btn rounded btn-danger" type="button" (click)="callEmpSocket()"> Send Employee Notif</button>
                <button class="btn rounded btn-warning" type="button" (click)="callHim()"> Send Notif</button>
                <button class="btn rounded btn-danger" type="button" (click)="disconnect()">Discorabnect</button>
                -->

                
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>

