
.wrapper{
    display: flex;
    justify-content: space-evenly;
    overflow-y: hidden;
}

.main,
.sidebar{
    border: 2px solid black;
    padding: 5px;
}

.main{
    transition: width 0.5s, opacity 0.5s;
    transition-timing-function: ease;
    height: 100vh;
    width: 100%;
    overflow: scroll;
    padding:0%;
}


.sidebar{
    transition: width 0.5s;
    transition-timing-function: ease;
    height: 100vh;
    display: block;
    position: sticky;
}

.topbar{
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #fdc613,#081d5c, #fdc613);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    top:0;
    height: 10%;
    width:100%;
    background-color:white;
    z-index: 2;
    position:sticky;
    display: flex;
}

.active{
    border-radius: 5%;
    border: 2px solid #b6c6ed;
}

.linkContainer{
    margin-top: 50px;
    height: 100%;
}

.navItem{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color:gray;
    font-size: large;
    padding:1%
}

.navIcon{
    color: #b6c6ed; 
    margin-left: 10px; 
}

.navText{
    text-align: justify;
    transition: opacity 0.5s;
    transition-timing-function: ease;
}

