<div class="empListContainer rounded">
    <h2 class="font-weight-bold text-secondary " style="margin-right: auto; margin-left: 5%; margin-top: 2%;">
        {{currentEmployee.prenomEmploye}} {{currentEmployee.nomEmploye}} CIN: {{currentEmployee.cinEmploye}}</h2>
    <hr style="color: lightslategrey; width: 90%; margin: auto; margin-top: 2%;"/>
    <div class=" d-flex justify-content-around infoContainer">
        <div class=" text-secondary" style="margin-left: 5%;">
           <p><b>Nom : </b>{{currentEmployee.nomEmploye}}</p><p><b>Prénom : </b>{{currentEmployee.prenomEmploye}}</p>
        </div>
        <div class=" text-secondary" style="margin-left: 10%;">
            <p><b>CIN : </b>{{currentEmployee.cinEmploye}}</p><p><b>Date de Naissance : </b>{{currentEmployee.dateNaissance | date}}</p>
         </div>
         <div class=" text-secondary" style="margin-left: 10%;">
            <p><b>Date de Récrutement : </b>{{currentEmployee.dateRecrutement | date}}</p>
         </div>
    </div>
    <hr style="color: lightslategrey; width: 90%; margin: auto; margin-top: 2%;"/>
    <div class=" d-flex justify-content-around infoContainer">
        <div class=" text-secondary" style="margin-left: 5%;">
           <p><b>Agence : </b>
           <select class="form-select form-select "  style=" margin-left:5%; width:fit-content;" aria-label="Année" [(ngModel)]="currentAgence" >
            <option *ngFor="let e of agenceNames" [ngValue]="e._id">{{e.nomAgence}}</option>
            </select>
            </p>
        </div>
        <div class=" text-secondary" style="margin-left: 5%;">
            <div>
                <p><b>Département : </b><input type="text" class="form-control" [(ngModel)]="currentDepartment"/></p>
            </div>
            <div>
                <p><b>Position : </b><input type="text" class="form-control" [(ngModel)]="currentposition"/></p>
            </div>
         </div>
        <div class=" text-secondary" style="margin-left: 20%;">
            <div>
                <p><b>N° Telephone : </b><input type="text" class="form-control" [(ngModel)]="currentTel"/></p>
            </div>
            <div>
                <p><b>Contact Urgence: </b><input type="text" class="form-control" [(ngModel)]="currentUrgence"/></p>
            </div>
            
         </div>
    </div>  
    <div class="d-flex justify-content-between" style="width: 80%;margin: auto;">
        <button class="btn btn-danger rounded" (click)="sendDelete()" [disabled]="disableDelete">Supprimer</button>
        <button class="btn btn-primary rounded"  (click)="sendUpdate()">Mettre à Jour</button>
    </div>
    <hr style="color: lightslategrey; width: 90%; margin: auto; margin-top: 2%;"/>
    
    <br/>
    <br/>
    <br/>
    <br/>
</div>