.empListContainer{
    width: 90%;
    height: fit-content;
    border: 2px solid lightslategray;
    margin: 5%;
}

.infoContainer{
    width: 90%;
    height: fit-content;
    padding: 1%;
    margin:2%;
}