.trendContainer{
    border: 2px solid lightslategray;
    width: 90%;
    height: fit-content;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5rem;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart{
    display: flex;
    justify-content: center;
    width:90%; 
    height:80vh; 
    margin:5%;
    border: 1px solid black;
}

.keyContainer{
    margin-top: 3%;
    margin-left:5%;
    margin-right: 5%;
    margin-bottom: 5rem;
    width:60%;
    border: 2px solid lightgray;
    padding: 0.5rem;

}

.PresenceKey{
    background-color: steelblue;
    width: 25%;
    height: 75%;

    border:2px solid lightgray;

}

.PonctKey{
    background-color: #007E33;
    width: 25%;
    height: 75%;

    border:2px solid lightgray;
}

.retardKey{
    background-color: #ffbb33;
    width: 25%;
    height: 75%;

    border:2px solid lightgray;
}


