<div class="trendContainer bg-white rounded">
    <h2 class="font-weight-bold text-secondary " style="margin-right: auto; margin-left: 5%; margin-top: 2%;">Statistiques du jour</h2>
    <h6 class=" text-secondary " style="margin-right: auto; margin-left: 5%;">Le {{ dayPieDay + '/' + dayPieMonth}} <ng-container *ngIf="dayPieRegion!=null"> Pour la Région de {{dayPieRegion? dayPieRegion:"Globale"}}</ng-container></h6>
    <div class="d-flex flex-row" style="width: 90%;">
        <div class="d-flex flex-row" style="margin-right: 5%;">
            Année:
            <select class="form-select form-select-sm "  style=" margin-left:5%; width:fit-content;" aria-label="Année" [(ngModel)]="dayPieYear" (change)="getDayPieData()">
                <option selected  value="2023">2023</option>
                <option [ngValue]="2022">2022</option>
                <option [ngValue]="2021">2021</option>
                <option [ngValue]="2020">2020</option>
            </select>
        </div>
        <div class="d-flex flex-row" style="margin-right: 5%;">
            Mois:
            <select class="form-select form-select-sm "  style=" margin-left:5%; width:fit-content;" aria-label="Année" [(ngModel)]="dayPieMonth" (change)="getDayPieData()">
                    <option [ngValue]="1">Janvier</option>
                    <option [ngValue]="2">Février</option>
                    <option [ngValue]="3">Mars</option>
                    <option [ngValue]="4">Avril</option>
                    <option [ngValue]="5">Mai</option>
                    <option [ngValue]="6">Juin</option>
                    <option [ngValue]="7">Juillet</option>
                    <option [ngValue]="8">Aout</option>
                    <option [ngValue]="9">Septembre</option>
                    <option [ngValue]="10">Octobre</option>
                    <option [ngValue]="11">Novembre</option>
                    <option [ngValue]="12">Décembre</option>
            </select>
        </div>
      <div class="d-flex flex-row">
        Jour:
        <select class="form-select form-select-sm "  style=" margin-left:5%; width:fit-content;" aria-label="Année" [(ngModel)]="dayPieDay" (change)="getDayPieData()">
            <option *ngFor="let n of days" [ngValue]="n">{{n}}</option>
            
        </select>
      </div>
        <div class="d-flex flex-row" style="margin-left: 2%;">
            Region:
            <select class="form-select form-select-sm "  style=" margin-left:5%; width:fit-content;" aria-label="Année" [(ngModel)]="dayPieRegion" (change)="getDayPieData()">
                    <option selected [ngValue]="null">Globaux</option>
                    <option value="grandTunis">Grand Tunis</option>
                    <option value="benArous">Ben Arous</option>
                    
            </select>
        </div>
    </div>
    
    <hr style="color: lightslategrey; width: 90%;"/>
    <div class="d-flex flex-column justify-content-between" style="width: 90%;margin-top: 2%; margin-bottom: 2%;">
       
            <div width="450" height="150"  style="margin:0.5%; width: 100%; " class="flex-row d-flex justify-content-between align-items-center">
                <div>
                    <p class="text-secondary statTransition" style="font-weight: 600; font-size: large;"> Taux de Présence : 
                    <fa-icon  *ngIf="dayValues[3] ? (dayValues[0].value>dayValues[3].value ? true:false):false" [icon]="faAnglesUp" style="color: #1cc43e;" class="statTransition"></fa-icon>
                    <fa-icon  *ngIf="dayValues[3] ? (dayValues[0].value<dayValues[3].value ? true:false):false" [icon]="faAnglesDown" style="color: #df1111;" class="statTransition"></fa-icon>
                    {{dayValues[0] ? (dayValues[0].value | number : '1.2-2') : '' }}%</p>
                </div>  
                <p *ngIf="dayValues[3] ? (dayValues[0].value>dayValues[3].value ? true:false):false"  class="statTransition text-white  rounded bg-success" style="height: 10%; padding: 0.5%; " >
                    Augmentattion de {{dayValues[3] ? (dayValues[0] ? (dayValues[0].value-dayValues[3].value | number : '1.2-2'):0):0 }}% par rapport au {{dayPieDay-1}} {{months[dayPieMonth-1]}} ({{dayValues[3].value | number : '1.2-2'}}%)
                </p>
                <p  *ngIf="dayValues[3] ? (dayValues[0].value<dayValues[3].value ? true:false):false"  class="statTransition text-white  rounded bg-danger" style="height: 10%;padding: 0.5%;">
                    Diminution de {{dayValues[3] ? (dayValues[0] ? (dayValues[3].value-dayValues[0].value | number : '1.2-2'):0):0}}% par rapport au {{dayPieDay-1}} {{months[dayPieMonth-1]}} ({{dayValues[3].value | number : '1.2-2'}}%)
                </p>
                <div class="d-flex flex-column rounded" style="width: 10%;">
                    <div class="bg-light d-flex justify-content-between align-items-center">
                        <div style="width: 20px;height: 20px; border: 1px solid gray; background-color: steelblue;">

                        </div>
                        Présence
                    </div>
                    <div class="bg-light d-flex justify-content-between">
                        <div class ="bg-danger"style="width: 20px;height: 20px;border: 1px solid gray">

                        </div>
                        Absence
                    </div>
                </div>
                
                <svg #dayPiePres width="150" height="150" style="margin:1% ;margin-left: 3%; margin-right:3%"></svg>
               
            </div>  
            <hr style="color: lightslategrey; width: 90%;"/>
            <div width="450" height="150"  style="margin:0.5%; width: 100%; " class=" flex-row d-flex justify-content-between align-items-center">
                <div>
                    <p class="text-secondary" style="font-weight: 600; font-size: large;"> Taux de Ponctualité : 
                    <fa-icon  *ngIf="dayValues[4] ? (dayValues[1].value>dayValues[4].value ? true:false):false" [icon]="faAnglesUp" style="color: #1cc43e;"></fa-icon>
                    <fa-icon  *ngIf="dayValues[4] ? (dayValues[1].value<dayValues[4].value ? true:false):false" [icon]="faAnglesDown" style="color: #df1111;"></fa-icon>
                    {{dayValues[1] ? (dayValues[1].value | number : '1.2-2') : '' }}%</p>
                </div>
                <p *ngIf="dayValues[4] ? (dayValues[1].value>dayValues[4].value ? true:false):false"  class="text-white  rounded bg-success" style="height: 10%; padding: 0.5%; " >
                    Augmentattion de {{dayValues[4] ? (dayValues[1].value ? (dayValues[1].value - dayValues[4].value | number : '1.2-2'):0):1}}% par rapport au {{dayPieDay-1}} {{months[dayPieMonth-1]}} ({{dayValues[4].value | number : '1.2-2'}}%)
                </p>
                <p  *ngIf="dayValues[4] ? (dayValues[1].value<dayValues[4].value ? true:false):false"  class="text-white  rounded bg-danger" style="height: 10%;padding: 0.5%;">
                    Diminution de {{dayValues[4] ? (dayValues[1] ? (dayValues[4].value-dayValues[1].value | number : '1.2-2'):0):0}}% par rapport au {{dayPieDay-1}} {{months[dayPieMonth-1]}} ({{dayValues[4].value | number : '1.2-2'}}%)
                </p>
                <div class="d-flex flex-column rounded" style="width: 10%;">
                    
                    <div class="bg-light d-flex justify-content-between">
                        <div class ="bg-success"style="width: 20px;height: 20px;border: 1px solid gray">

                        </div>
                        Ponctualité
                    </div>
                    <div class="bg-light d-flex justify-content-between align-items-center">
                        <div style="width: 20px;height: 20px; border: 1px solid gray; background-color: #ffbb33;">

                        </div>
                        Retard
                    </div>
                </div>
                <svg #dayPiePonct width="150" height="150" style="margin:1% ;margin-left: 3%; margin-right:3%"></svg>
               
            </div>
            <hr style="color: lightslategrey; width: 90%;"/>
            <div width="450" height="150"  style="margin:0.5%; width: 100%; " class="flex-row d-flex justify-content-between align-items-center">
                <div>
                    <p class="text-secondary" style="font-weight: 600; font-size: large;"> Taux des sorties avant l'heure : 
                    <fa-icon  *ngIf="dayValues[5] ? (dayValues[2].value>dayValues[5].value ? true:false):false" [icon]="faAnglesUp" style="color: #df1111;" ></fa-icon>
                    <fa-icon  *ngIf="dayValues[5] ? (dayValues[2].value<dayValues[5].value ? true:false):false" [icon]="faAnglesDown" style="color: #1cc43e;"></fa-icon>
                    {{dayValues[2] ? (dayValues[2].value | number : '1.2-2') : '' }}%</p>
                </div>
                <p *ngIf="dayValues[5] ? (dayValues[2].value<dayValues[5].value ? true:false):false"  class="text-white  rounded bg-success" style="height: 10%; padding: 0.5%; " >
                    Diminution de {{dayValues[5] ? (dayValues[2].value ? (dayValues[5].value-dayValues[2].value | number : '1.2-2'):0):0}}% par rapport au {{dayPieDay-1}} {{months[dayPieMonth-1]}} ({{dayValues[5].value | number : '1.2-2'}}%)
                </p>
                <p  *ngIf="dayValues[5] ? (dayValues[2].value>dayValues[5].value ? true:false):false"  class="text-white  rounded bg-danger" style="height: 10%;padding: 0.5%;">
                     Augmentation de {{dayValues[5] ? (dayValues[2] ? (dayValues[2].value-dayValues[5].value | number : '1.2-2'):0):0}}% par rapport au {{dayPieDay-1}} {{months[dayPieMonth-1]}} ({{dayValues[5].value | number : '1.2-2'}}%)
                </p>
                <div class="d-flex flex-column rounded" style="width: 15%;">
                    
                    <div class="bg-light d-flex justify-content-between">
                        <div style="width: 20px;height: 20px;border: 1px solid gray; background-color: #8c0c1c;">

                        </div>
                        Sortie avant l'heure
                    </div>
                    <div class="bg-light d-flex justify-content-between align-items-center">
                        <div style="width: 20px;height: 20px; border: 1px solid gray; background-color: #9cbfdd;">

                        </div>
                        Sortie à l'heure
                    </div>
                </div>
                <svg #dayPieLeav width="150" height="150" style="margin:1% ;margin-left: 3%; margin-right:3%"></svg>
               
            </div>
    
    </div>
    <h2 class="font-weight-bold text-secondary " style="margin-right: auto; margin-left: 5%; margin-top: 5%;">Statistiques Mensuelles</h2>
    <h6 class=" text-secondary " style="margin-right: auto; margin-left: 5%;">{{currentmonth}} <ng-container *ngIf="monthPieRegion!=null"> Pour la Région de {{monthPieRegion? monthPieRegion:"Globale"}}</ng-container></h6>
    <div class="d-flex flex-row" style="width: 90%;">
        <div class="d-flex flex-row" style="margin-right: 5%;">
            Année:
            <select class="form-select form-select-sm "  style=" margin-left:5%; width:fit-content;" aria-label="Année" [(ngModel)]="monthPieYear" (change)="getMonthPieData()">
                <option selected  value="2023">2023</option>
                <option [ngValue]="2022">2022</option>
                <option [ngValue]="2021">2021</option>
                <option [ngValue]="2020">2020</option>
            </select>
        </div>
        <div class="d-flex flex-row" style="margin-right: 5%;">
            Mois:
            <select class="form-select form-select-sm "  style=" margin-left:5%; width:fit-content;" aria-label="Année" [(ngModel)]="monthPieMonth" (change)="getMonthPieData()">
                    <option [ngValue]="1">Janvier</option>
                    <option [ngValue]="2">Février</option>
                    <option [ngValue]="3">Mars</option>
                    <option [ngValue]="4">Avril</option>
                    <option [ngValue]="5">Mai</option>
                    <option [ngValue]="6">Juin</option>
                    <option [ngValue]="7">Juillet</option>
                    <option [ngValue]="8">Aout</option>
                    <option [ngValue]="9">Septembre</option>
                    <option [ngValue]="10">Octobre</option>
                    <option [ngValue]="11">Novembre</option>
                    <option [ngValue]="12">Décembre</option>
            </select>
        </div>
        <div class="d-flex flex-row" style="margin-left: 2%;">
            Region:
            <select class="form-select form-select-sm "  style=" margin-left:5%; width:fit-content;" aria-label="Année" [(ngModel)]="monthPieRegion" (change)="getMonthPieData()">
                    <option selected [ngValue]="null">Globaux</option>
                    <option value="grandTunis">Grand Tunis</option>
                    <option value="benArous">Ben Arous</option>
                    
            </select>
        </div>
    </div>
    <hr style="color: lightslategrey; width: 90%;"/>
    
    <div class="d-flex flex-column justify-content-between" style="width: 90%; margin-top: 2%; margin-bottom: 2%;">
        <div width="450" height="150"  style="margin:0.5%; width: 100%; " class="flex-row d-flex justify-content-between align-items-center">
            <div>
                <p class="text-secondary statTransition" style="font-weight: 600; font-size: large;"> Taux de Présence : 
                <fa-icon  *ngIf="monthValues[3] ? (monthValues[0].value>monthValues[3].value ? true:false):false" [icon]="faAnglesUp" style="color: #1cc43e;" class="statTransition"></fa-icon>
                <fa-icon  *ngIf="monthValues[3] ? (monthValues[0].value<monthValues[3].value ? true:false):false" [icon]="faAnglesDown" style="color: #df1111;" class="statTransition"></fa-icon>
                {{monthValues[0] ? (monthValues[0].value | number : '1.2-2'): '' }}%</p>
            </div>  
            <p *ngIf="monthValues[3] ? (monthValues[0].value>monthValues[3].value ? true:false):false"  class="statTransition text-white  rounded bg-success" style="height: 10%; padding: 0.5%; " >
                Augmentattion de {{monthValues[4].value ? (monthValues[0].value ? (monthValues[0].value-monthValues[3].value | number : '1.2-2'):0):0 }}% par rapport à {{months[monthPieMonth-2]}} ({{monthValues[3].value | number : '1.2-2'}}%)
            </p>
            <p  *ngIf="monthValues[3] ? (monthValues[0].value<monthValues[3].value ? true:false):false"  class="statTransition text-white  rounded bg-danger" style="height: 10%;padding: 0.5%;">
                Diminution de {{monthValues[3] ? (monthValues[0] ? (monthValues[3].value-monthValues[0].value | number : '1.2-2'):0):0 }}% par rapport à {{months[monthPieMonth-2]}} ({{monthValues[3].value | number : '1.2-2'}}%)
            </p>
            <div class="d-flex flex-column rounded" style="width: 10%;">
                <div class="bg-light d-flex justify-content-between align-items-center">
                    <div style="width: 20px;height: 20px; border: 1px solid gray; background-color: steelblue;">

                    </div>
                    Présence
                </div>
                <div class="bg-light d-flex justify-content-between">
                    <div class ="bg-danger"style="width: 20px;height: 20px;border: 1px solid gray">

                    </div>
                    Absence
                </div>
            </div>
            <svg #monthPiePres width="150" height="150" style="margin:1% ;margin-left: 3%; margin-right:3%"></svg>
           
        </div>  
        <hr style="color: lightslategrey; width: 90%;"/>
        <div width="450" height="150"  style="margin:0.5%; width: 100%; " class=" flex-row d-flex justify-content-between align-items-center">
            <div>
                <p class="text-secondary" style="font-weight: 600; font-size: large;"> Taux de Ponctualité : 
                <fa-icon  *ngIf="monthValues[4] ? (monthValues[1].value>monthValues[4].value ? true:false):false" [icon]="faAnglesUp" style="color: #1cc43e;"></fa-icon>
                <fa-icon  *ngIf="monthValues[4] ? (monthValues[1].value<monthValues[4].value ? true:false):false" [icon]="faAnglesDown" style="color: #df1111;"></fa-icon>
                {{monthValues[1] ? (monthValues[1].value | number : '1.2-2') : '' }}%</p>
            </div>
            <p *ngIf="monthValues[4] ? (monthValues[1].value>monthValues[4].value ? true:false):false"  class="text-white  rounded bg-success" style="height: 10%; padding: 0.5%; " >
                Augmentattion de {{monthValues[4].value ? (monthValues[1].value ? (monthValues[1].value-monthValues[4].value | number : '1.2-2'):0):0}}% par rapport à {{months[monthPieMonth-2]}} ({{monthValues[4].value | number : '1.2-2'}}%)
            </p>
            <p  *ngIf="monthValues[4] ? (monthValues[1].value<monthValues[4].value ? true:false):false"  class="text-white  rounded bg-danger" style="height: 10%;padding: 0.5%;">
                Diminution de {{monthValues[4] ? (monthValues[1] ? (monthValues[4].value-monthValues[1].value | number : '1.2-2'):0):0}}% par rapport à {{months[monthPieMonth-2]}} ({{monthValues[4].value | number : '1.2-2'}}%)
            </p>
            <div class="d-flex flex-column rounded" style="width: 10%;">
                    
                <div class="bg-light d-flex justify-content-between">
                    <div class ="bg-success"style="width: 20px;height: 20px;border: 1px solid gray">

                    </div>
                    Ponctualité
                </div>
                <div class="bg-light d-flex justify-content-between align-items-center">
                    <div style="width: 20px;height: 20px; border: 1px solid gray; background-color: #ffbb33;">

                    </div>
                    Retard
                </div>
            </div>
            <svg #monthPiePonct width="150" height="150" style="margin:1% ;margin-left: 3%; margin-right:3%"></svg>
           
        </div>
        <hr style="color: lightslategrey; width: 90%;"/>
        <div width="450" height="150"  style="margin:0.5%; width: 100%; " class="flex-row d-flex justify-content-between align-items-center">
            <div>
                <p class="text-secondary" style="font-weight: 600; font-size: large;"> Taux des sorties avant l'heure : 
                <fa-icon  *ngIf="monthValues[5] ? (monthValues[2].value>monthValues[5].value ? true:false):false" [icon]="faAnglesUp" style="color: #df1111;" ></fa-icon>
                <fa-icon  *ngIf="monthValues[5] ? (monthValues[2].value<monthValues[5].value ? true:false):false" [icon]="faAnglesDown" style="color: #1cc43e;"></fa-icon>
                {{monthValues[2] ? (monthValues[2].value | number : '1.2-2') : '' }}%</p>
            </div>
            <p *ngIf="monthValues[5] ? (monthValues[2].value<monthValues[5].value ? true:false):false"  class="text-white  rounded bg-success" style="height: 10%; padding: 0.5%; " >
                Diminution de {{monthValues[5].value ? (monthValues[2].value ? (monthValues[5].value-monthValues[2].value | number : '1.2-2'):0):0}}% par rapport à {{months[monthPieMonth-2]}} ({{monthValues[5].value | number : '1.2-2'}}%)
            </p>
            <p  *ngIf="monthValues[5] ? (monthValues[2].value>monthValues[5].value ? true:false):false"  class="text-white  rounded bg-danger" style="height: 10%;padding: 0.5%;">
                 Augmentation de {{monthValues[5] ? (monthValues[2] ? (monthValues[2].value-monthValues[5].value | number : '1.2-2'):0):0}}% par rapport à {{months[monthPieMonth-2]}} ({{monthValues[5].value | number : '1.2-2'}}%)
            </p>
            <div class="d-flex flex-column rounded" style="width: 15%;">
                    
                <div class="bg-light d-flex justify-content-between">
                    <div style="width: 20px;height: 20px;border: 1px solid gray; background-color: #8c0c1c;">

                    </div>
                    Sortie avant l'heure
                </div>
                <div class="bg-light d-flex justify-content-between align-items-center">
                    <div style="width: 20px;height: 20px; border: 1px solid gray; background-color: #9cbfdd;">

                    </div>
                    Sortie à l'heure
                </div>
            </div>
            <svg #monthPieLeav width="150" height="150" style="margin:1% ;margin-left: 3%; margin-right:3%"></svg>
           
        </div>
      
        
        
    </div>
    
</div>
<hr style="color: lightslategrey; width: 90%; margin-left: 5% ; margin-top: 5rem;"/>
<div  class="trendContainer bg-white rounded">
    <h2 class="font-weight-bold text-secondary " style="margin-right: auto; margin-left: 5%; margin-top: 2%;">Evolution des Taux de présence et de ponctualité</h2>
    <h6 class=" text-secondary " style="margin-right: auto; margin-left: 5%;">{{trendYear}}</h6>
    <hr style="color: lightslategrey; width: 90%;"/>
    <div class="d-flex  align-items-center justify-content-start" style="width:90%;margin-bottom: 1%;">
        <div class="d-flex  " style="margin-right: 1%;">
            Année: 
            <select class="form-select form-select-sm "  style=" margin-left:5%; width:fit-content;" aria-label="Année" [(ngModel)]="trendYear" (change)="getTrendData()">
                <option selected  value="2023">2023</option>
                <option [ngValue]="2022">2022</option>
                <option [ngValue]="2021">2021</option>
                <option [ngValue]="2020">2020</option>
              </select>
        </div>
        <div class="d-flex">
            Mois: 
            <select class="form-select form-select-sm "  style=" width:fit-content; margin-left:5%;" aria-label="Mois" [(ngModel)]="trendMonth" (change)="getTrendData()">
                <option selected  [ngValue]="0">1-12</option>
                <option [ngValue]="1">Janvier</option>
                <option [ngValue]="2">Février</option>
                <option [ngValue]="3">Mars</option>
                <option [ngValue]="4">Avril</option>
                <option [ngValue]="5">Mai</option>
                <option [ngValue]="6">Juin</option>
                <option [ngValue]="7">Juillet</option>
                <option [ngValue]="8">Aout</option>
                <option [ngValue]="9">Septembre</option>
                <option [ngValue]="10">Octobre</option>
                <option [ngValue]="11">Novembre</option>
                <option [ngValue]="12">Décembre</option>
              </select>

        </div>
  </div>
    <svg #curveContainer></svg>
    <div id="tooltip" style="position: absolute; display: none;"></div>
    <div class="keyContainer rounded">
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-around">
                    <div class="PresenceKey rounded">

                    </div>
                    <p>Présence</p>
                </div>
                <div class="col d-flex justify-content-around">
                    <div class="PonctKey rounded">

                    </div>
                    <p>Ponctualité</p>
                </div>
                <div class="col d-flex justify-content-around">
                    <div class="retardKey rounded">

                    </div>
                    <p>Sorties avant l'heure</p>
                </div>
            </div>
            
        </div>
    </div>
</div>
<hr style="color: lightslategrey; width: 90%; margin-left: 5%;"/>