<div class="main">
  <div class="rounded modalContainer" *ngIf="showModal">
  <div class="rounded modal" >
      <div class="d-flex flex-row" style="width: 100%; top: 0;">
        <div class="form-group d-flex align-items-baseline rounded " style="margin-left: auto; margin-right: auto;">
          <p><b>ID:</b> {{currentEntry.id_point}}, <b>CIN Employé : </b>{{currentEntry.cin_employe}}, <b>séance :</b> {{currentEntry.seance}},<b> Date : </b>{{currentEntry.date}}, <b>Heure : </b></p><input type="text" [(ngModel)]="currentEntry.heure" style="width: min-content;" class="form-control" >  <p><b>Type:</b> {{currentEntry.type}} </p>
        </div>
      </div>
      <div class="d-flex justify-content-between " style="margin-top: auto;">
        <button class="btn btn-danger" (click)="toggleModal()"> Annuler</button>
        <button class="btn btn-success" (click)="updateEntry(currentEntry)"> Mettre a jour</button>
      </div>
    </div>
  </div>
    <div class="rounded archiveContainer">
        <h2 class="font-weight-bold text-secondary " style="margin-right: auto; margin-left: 5%; margin-top: 2%;">Archive Pointage</h2>
        <div class="d-flex flex-row" style="width: 90%; margin-left: 6%;margin-top: 1%; margin-bottom: 1%;">
          <div class="d-flex flex-row" style="margin-right: 5%;">
              Année:
              <select class="form-select form-select-sm "  style=" margin-left:5%; width:fit-content;" aria-label="Année" [(ngModel)]="archiveYear" (change)="getArchiveData()">
                  <option selected  value="2023">2023</option>
                  <option [ngValue]="2022">2022</option>
                  <option [ngValue]="2021">2021</option>
                  <option [ngValue]="2020">2020</option>
              </select>
          </div>
          <div class="d-flex flex-row" style="margin-right: 5%;">
              Mois:
              <select class="form-select form-select-sm "  style=" margin-left:5%; width:fit-content;" aria-label="Année" [(ngModel)]="archiveMonth" (change)="getArchiveData()">
                      <option [ngValue]="1">Janvier</option>
                      <option [ngValue]="2">Février</option>
                      <option [ngValue]="3">Mars</option>
                      <option [ngValue]="4">Avril</option>
                      <option [ngValue]="5">Mai</option>
                      <option [ngValue]="6">Juin</option>
                      <option [ngValue]="7">Juillet</option>
                      <option [ngValue]="8">Aout</option>
                      <option [ngValue]="9">Septembre</option>
                      <option [ngValue]="10">Octobre</option>
                      <option [ngValue]="11">Novembre</option>
                      <option [ngValue]="12">Décembre</option>
              </select>
          </div>
        <div class="d-flex flex-row">
          Jour:
          <select class="form-select form-select-sm "  style=" margin-left:5%; width:fit-content;" aria-label="Année" [(ngModel)]="archiveDay" (change)="getArchiveData()">
              <option *ngFor="let n of days" [ngValue]="n">{{n}}</option>
              
          </select>
        </div>
          <div class="d-flex flex-row" style="margin-left: 2%;">
              Agence:
              <select class="form-select form-select-sm "  style=" margin-left:5%; width:fit-content;" aria-label="Année" [(ngModel)]="archiveAgence" (change)="getArchiveData()">
                      <option selected [ngValue]="null">Globaux</option>
                      <option *ngFor="let n of agenceNames" [ngValue]="n._id">{{n.nomAgence}}</option>
                      
              </select>
          </div>
          <div class="d-flex flex-row" style="margin-left: 2%;">
            Employé:
            <select class="form-select form-select-sm "  style=" margin-left:5%; width:fit-content;" aria-label="Année" [(ngModel)]="archiveCin" (change)="getArchiveData()">
                    <option selected [ngValue]="null">Tous</option>
                    <option *ngFor="let n of cinList" [ngValue]="n">{{n}}</option>
                    
            </select>
        </div>
      </div>
        <hr style="color: lightslategrey; width: 90%; margin: auto;"/>

        <div class="tableContainer rounded">
            <table class="table table-hover">
                <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">CIN Employé</th>
                      <th scope="col">Agence</th>
                      <th scope="col">Séance</th>
                      <th scope="col">Date</th>
                      <th scope="col">Heure</th>
                      <th scope="col">Type</th>
                      <th scope="col">Modifier</th>
                    </tr>
                  </thead>
                  <tr style="border-bottom:1px solid black">
                    <td colspan="100%"></td>
                  </tr>
                  <tbody>
                    <tr *ngFor="let entry of archiveData">
                        <th scope="row">{{entry.id_point}}</th>
                        <td>{{entry.cin_employe}}</td>
                        <td>{{entry.nomAgence}}</td>
                        <td>{{entry.seance}}</td>
                        <td>{{entry.date}}</td>
                        <td>{{entry.heure}}</td>
                        <td>{{entry.type}}</td>
                        <td><button class="btn btn-success rounded" (click)="openModif(entry.id_point)">Modifier</button></td>
                      </tr>
                  </tbody>
              </table>
        </div>
    </div>

</div>