.main{
    width: 100%;
    height:100%;
    background-color: #f8f9fa;
}

.archiveContainer{
    width: 90%;
    height: fit-content;
    border: 2px solid lightslategray;
    margin: 5%;
}

.tableContainer{
    background-color: rgb(230, 232, 234);
    border: 2px solid lightslategray;
    width: 90%;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    min-height: 20%;

}

.modal{
    padding: 1%;
    border: 2px solid lightslategray;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    width: 70%;
    height: 20%;
    margin-left:20%;
    margin-top:20%;
 
}

.modalContainer{
    display: flex;  
    position: absolute;
    height: 80%;
    width: 85%;
    margin-left:5%;
    background-color: rgb(255, 255, 255, 0.4);
}