<div class="empListContainer rounded">
    <h2 class="font-weight-bold text-secondary " style="margin-right: auto; margin-left: 5%; margin-top: 2%;">Liste des Employés</h2>
    <div class="d-flex flex-row" style="width: 90%; margin-left: 6%;margin-top: 1%; margin-bottom: 1%;">
        <div class="d-flex flex-row" style="margin-right: 5%;">
            Agence:
            <select class="form-select form-select-sm "  style=" margin-left:5%; width:fit-content;" aria-label="Année" [(ngModel)]="agenceFilter" (change)="filterresult()" >
                <option selected  [ngValue]="null">Global</option>
                <option *ngFor="let n of agenceNames" [ngValue]="n.nomAgence">{{n.nomAgence}}</option>
            </select>
        </div>
        <div class="d-flex flex-row" style="margin-right: 5%;">
            Employe:
            <select class="form-select form-select-sm "  style=" margin-left:5%; width:fit-content;" aria-label="Année" [(ngModel)]="cinFilter" (change)="filterresult()">
                <option selected  [ngValue]="null">Global</option>
                <option *ngFor="let n of cinList" [ngValue]="n">{{n}}</option>
            </select>
        </div>
    </div>
    <hr style="color: lightslategrey; width: 90%; margin: auto;"/>
    <div class="tableContainer rounded">
        <table class="table table-hover">
            <thead>
                <tr>
                  <th scope="col">CIN</th>
                  <th scope="col">Nom Complet</th>
                  <th scope="col">Libellé Agence</th>
                  <th scope="col">Position</th>
                  <th scope="col">N° Telephone</th>
                  <th scope="col">Consulter</th>
                </tr>
              </thead>
              <tr style="border-bottom:1px solid black">
                <td colspan="100%"></td>
              </tr>
              <tbody>
                <tr *ngFor="let emp of filteredList">
                    <th scope="row">{{emp.cin}}</th>
                    <td>{{emp.nomComplet}}</td>
                    <td>{{emp.libelAgence}}</td>
                    <td>{{emp.position}}</td>
                    <td>{{emp.numTel}}</td>
                    <td class="d-flex justify-content-center">
                        <a class="btn btn-success rounded" routerLink="{{emp.id}}">
                            <fa-icon [icon]="faChevronRight" ></fa-icon>
                        </a>
                    </td>
                  </tr>
              </tbody>
          </table>
    </div>
</div>