.empListContainer{
    width: 90%;
    height: fit-content;
    border: 2px solid lightslategray;
    margin: 5%;
}

.tableContainer{
    background-color: rgb(230, 232, 234);
    border: 2px solid lightslategray;
    width: 90%;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    min-height: 20%;
}
