.topBar{
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #fdc613,#081d5c, #fdc613);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    top:0;
    height: 10%;
    width:100%;
    background-color:white;
    z-index: 2;
    position:sticky;
}



.body{
    height: 100vh;
    width: 100vw;
}
.ladingBox{
    display: flex;
    justify-content: center;
    border: 3px solid steelblue;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top:10%;

}

.qrcode{
    
    width: 60%;
    height: 90%;
    margin: 5px;
}

.clockContainer{
    padding: 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #0b34b0;
    width: 70%;
    height: 20%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top:7%;
}

.qrBackground{
    margin:5%;
    height: 100%;
    width: 100%; 
    background-color: #0e3094;
}


.qrContainer{
    background: repeating-linear-gradient(45deg, #e9ce76, #0e3094); /* Set your desired gradient colors and angle */
    display: inline-block;
    width: 100%;

}


    


