<div class="body bg-light">
    <div class="topBar d-flex justify-content-between">
        <div class="d-flex justify-content-left align-items-center" style="width: 40%">
            <img style="width: 70px; height: 100%; margin-left: 2%;" src="../../../../assets/posteLogoafter.png"/>
            <h5>Itinéraire de Données Employés</h5>
        </div>
        <div>
            other elements
        </div>
    </div>
    
    
    <div *ngIf="dataReceived; else elseBlock" class="ladingBox rounded bg-white">
            
            <ngx-qrcode  [value] = "qrCodeData" class="qrCode">
            </ngx-qrcode>
 
            
            
    </div>
    <ng-template  #elseBlock>
        <div class="clockContainer rounded bg-white">
            <p style="color: midnightblue; font-weight: bold; font-size: large; margin-bottom: 5%;">Aucune session n'est actuellement en cours, veuillez réessayer pendant les heures d'entrée et de sortie connues</p>
            
            <p style="color: midnightblue; font-weight: bold; font-size: large; margin-bottom: 5%;">{{currentTime}}</p>
        </div>
</ng-template>
</div>
